# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Downloaded data and checkpoints
/data/
/data_raw/
/checkpoints/
# /metrics/

# Generated models and plots
accuracy_plot_*.png
final_global_model_*.pt

# Environments
.env
.venv
env/
venv/
fedlearn-env/

# IDEs
.idea/
.vscode/
*.swp

# Old branch specific
checkpoints/
results/